@import url('style.css');

/*TABELA COM RESULTADOS*/
    .results-table th.coluna-detalhe,
    .results-table td.coluna-detalhe {
        width: 80px;  
        text-align: center;
        vertical-align: middle;
    }

    /*BOTÃO DE DETALHES*/
    .details-btn {
        width: 50px;
        height: 50px;
        display: flex;
        margin: auto;
        padding: 5px;

        cursor: pointer;
        border: none;
        border-radius: 30%;
        align-items: center;
        justify-content: center;
    }

    .details-icon {
        width: 20px; 
        height: 20px;
    }

    .details-btn:hover {
        background-color: var(--color-alterar);
    }

    .details-container {
        margin-top: 10px;
        padding: 10px;

        border-top: 1px solid var(--color-secundaria);
        background-color: var(--color-terciaria);
    }

    /* Estilo da tabela de comandos */
    .results-table {
        width: 80%;
        margin: 20px auto 0 auto;

        border-collapse: collapse;
    }

    .results-table th, .results-table td {
        padding: 10px;

        border: 1px solid var(--color-terciaria);
        color: var(--color-font);
        text-align: left;
    }

    .results-table th {
        background-color: var(--color-secundaria);
        font-weight: bold;
    }

/* MODAL (CARD QUE SOBREPÕE TODO CONTEUDO) */
    .modal {
        display: none;
        width: 40%;
        height: 80vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        z-index: 9;
        overflow-y: auto; 

        border-radius: 10px;
        background-color: var(--color-principal);
        box-shadow: 0 5px 15px #00000080;
    }

    /* BOTÃO DE FECHAR O MODAL */
        .close-container { /* CONTAINER/DIV */
            display: flex;
            width: 100%;
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 0 10px;
            justify-content: flex-end; /* Alinha o botão à direita */
        }

        .modal .close-btn {
            width: 30px;
            padding: 0;

            cursor: pointer;
            border: none;
            background: none;
            color: var(--color-font);
            font-size: 30px;
            font-weight: bold;
        }

        .modal .close-btn:hover {
            color: var(--color-secundaria); /* Muda a cor quando o botão for sobrevoado */
        }

    /* FUNDO MAIS ESCURO */
        .modal-backdrop {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 8;

            background-color: #000000a8;
        }

        .modal-backdrop.active,
        .modal.active {
            display: block;
        }

/*BOTÕES DE PAGINAÇÃO*/    
    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
    .pagination-btn {
        width: 40px;
        margin: 0 5px;
        padding: 8px 5px;

        cursor: pointer;
        border: none;
        border-radius: 4px;
        background-color: var(--color-alterar);
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
    
    .pagination-btn.active {
        background-color: var(--color-alterar-hover);
    }
    
    .pagination-btn:hover {
        background-color: var(--color-alterar-hover);
    }